%h1 Listing users

%table
  %tr
    %th Login
    %th Email
    %th Time zone
    %th First name
    %th Middle initial
    %th Last name
    %th Birthday
    %th Sex
    %th Admin
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.login
      %td= user.email
      %td= user.time_zone
      %td= user.first_name
      %td= user.middle_initial
      %td= user.last_name
      %td= user.birthday
      %td= user.sex
      %td= user.admin
      %td= link_to 'Show', [:admin, user]
      %td= link_to 'Edit', edit_admin_user_path(user)
      %td= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_admin_user_path
